<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>

<body>
    <!-- Vista de Dashboard -->
    <section id="dashboard" class="hidden">
        <div class="dashboard-header">
            <h2>Mis Mascotas</h2>
            <div>
                <button id="add-pet-btn">Agregar Mascota</button>
                <button id="logout-btn">Cerrar sesión</button>
            </div>
        </div>

        <div id="pet-form-modal" class="modal hidden">
            <div class="modal-content">
                <h3>Agregar Nueva Mascota</h3>
                <form id="pet-form">
                    <input type="text" id="pet-name" placeholder="Nombre de la mascota" required />
                    <input type="text" id="pet-type" placeholder="Tipo (Ej: Perro, Gato...)" required />
                    <input type="number" id="pet-age" placeholder="Edad (años)" required min="0" />
                    <input type="url" id="pet-image" placeholder="URL de imagen (opcional)" />

                    <div class="form-buttons">
                        <button type="submit">Guardar</button>
                        <button type="button" id="cancel-pet-form">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="pets-container" id="pets-container">
            <!-- Aquí se insertarán dinámicamente las mascotas -->
            <div class="pet-card">
                <img src="https://imgs.search.brave.com/lGlVwCbvNihLLhJlK9b7Ij8tskbkngfVZFobZewtlXI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTA0/MTk4NzQ4OC9lcy9m/b3RvL2xpbmRvLXBl/cnJvLWRlLXBvbmVy/LXN1LWNhcmEtZW4t/c3VzLXJvZGlsbGFz/LXktZWwtaG9tYnJl/LXNvbnJpZW50ZS1k/ZS1sYXMtbWFub3Mt/cmFzY2Fyc2UtZWwu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PV8tUXJHMVFpbXRY/UHR0dWVIZ1BTa2hj/aHdVY244RE50RWNs/VXBWOTkxQ2c9"
                    alt="Foto de la mascota" />
                <h3>Rocky</h3>
                <p><strong>Tipo:</strong> Perro</p>
                <p><strong>Edad:</strong> 3 años</p>

                <div class="card-buttons">
                    <button class="edit-btn">Editar</button>
                    <button class="delete-btn">Eliminar</button>
                </div>
            </div>

            
        </div>
    </section>
</body>

</html>