<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>

<body>
    <!-- Vista de Registro -->
    <section id="register" class="hidden">
        <div class="register-container">
            <h2>Crear cuenta</h2>

            <form id="register-form">
                <input type="text" id="register-name" placeholder="Nombre completo" required />
                <input type="text" id="register-username" placeholder="Nombre de usuario" required />
                <input type="email" id="register-email" placeholder="Correo electrónico" required />
                <input type="tel" id="register-phone" placeholder="Número de teléfono" required />
                <input type="password" id="register-password" placeholder="Contraseña" required />
                <button type="submit">Registrarse</button>
            </form>

            <p class="register-switch">
                ¿Ya tienes cuenta?
                <a href="#" id="register-go-login">Inicia sesión</a>
            </p>
        </div>
    </section>


</body>

</html>