<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>

<body>
    <!-- Vista de Login -->
    <section id="login" class="hidden">
        <div class="login-container">
            <h2>Iniciar sesión</h2>

            <form id="login-form">
                <input type="text" id="login-username" placeholder="Usuario" autocomplete="username" required />
                <input type="password" id="login-password" placeholder="Contraseña" autocomplete="current-password"
                    required />
                <button type="submit">Entrar</button>
            </form>

            <p class="login-switch">
                ¿No tienes cuenta?
                <a href="#" id="login-go-register">Regístrate aquí</a>
            </p>
        </div>
    </section>
</body>

</html>